* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* Hide the desktop menu on screens smaller than medium (768px) */
.desktop-menu {
    display: none;
}

.mobile-menu-button {
    display: block;
}

.menu-items {
    display: flex;
    justify-content: space-between !important;
    margin: 2.5em !important;
}

.img size1 {
    width: 200.87px;
    height: 100px;


}

.margin {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

/* container */
.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}

@media (min-width: 576px) {
    .container {
        max-width: 576px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 992px;
    }
}



/* Show the desktop menu on medium screens and larger (min-width: 768px) */
@media (max-width: 768px) {
    .sec1-row {
        padding: 1rem !important;
    }

    .sec1-row h1 {
        font-size: 1.5rem !important;
    }

    .sec1-row img {
        width: 100% !important;
        height: auto !important;
    }

    .container {
        max-width: 768px;
    }
}

@media (min-width: 768px) {
    .desktop-menu {
        display: flex !important;
    }

    .mobile-menu-button {
        display: none !important;
    }
}